.doctor-detail-container {
    height: 500px;
    margin: 0 100px;
    border: 1px solid red;

    .intro-doctor {
        display: flex;
        border: 1px solid greenyellow;
        .content-left {
            width: 20%;
            background: center center no-repeat;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                padding-top: 10px;
            }
        }
    }
}